* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(/rentCar/assets/Background.svg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: end;
    margin: 24px;
}

header nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 18px;

    -webkit-font-smoothing: antialiased;
}

header.car:hover { cursor: pointer; }

nav a {
    text-decoration: none;
    color: rgb(129, 117, 117);
    font-size: 20px;
}

nav a.inicio {
    font-weight: bold;
    color: rgb(190, 190, 190);
}

header button {
    display: flex;
    font-size: 17px;
    height: 31px;
    width: 130px;
    margin: 0 0 0 70px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 7px;
    align-self: self-end;
    padding: 2px 16px 2px 15px;
}

header button img {
    height: 17px;
    align-self: center;
}

header button span {
    margin: 0px 10px 0 0;
    align-self: center;
}

header button:hover {
    background-color: rgb(187, 96, 12);
}

header nav a:hover { text-decoration: underline; }

section.main {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-top: 80px;
    color: white;
    margin-left: 30px;
}

section div { margin-left: 25px; } 

h1 {
    text-transform: uppercase;
    margin-bottom: 18px;
}

span { line-height: 140%; }

span.fer-e-lambo {
    color: #EAB700;
    font-weight: bold;
}

span.adrenalina, span.acelerar { color: #FD681D; }

section.marcas {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
} 

section.marcas .logo-das-marcas {
    display: flex;
    width: 400px;
    height: 80px;
    gap: 64px;
    margin-top: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 54px;
    width: 800px;
    margin-top: 100px;
    color: white;
}

.footer button {
    height: 42px;
    width: 141px;
    border-radius: 8px;
    background-color: #FD681D;
    border: none;
    color: white;
    align-self: center;
}

.textos {
    display: flex;
    flex-direction: column;
}

.footer .textos h2 {
    height: 54px;
    font-size: 24px;
    text-transform: uppercase;
}

h5.creditos {
    color: white;
}

footer {
    height: 40px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}



